/* Import Font */
@font-face {
  font-family: "Helvetica";
  src: url(./fonts/Helvetica.ttf);
  font-weight: 400;
}
@font-face {
  font-family: "Helvetica";
  src: url(./fonts/Helvetica-Bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: "Helvetica Light";
  src: url(./fonts/4215-font.otf);
  font-weight: 300;
}

p {
  font-family: "Helvetica Light";
  font-weight: 300;
}
.helvetica400 {
  font-family: "Helvetica";
  font-weight: 400;
}
.fifth-card-text {
  padding-left: 22.9vw;
  padding-right: 22.9vw;
}
.container {
  overflow-x: hidden;
}

.main {
  background-color: #f1f3ff;
  width: 100%;
  min-height: 266px;
  padding-top: 37px;
}

.main-left {
  margin-top: 90px;
}

.bgimg {
  padding-top: 150px;
}


.second-desc {
  margin-left: auto;
}
.second-desc-head {
  margin-bottom: 24px;
}
.second-desc-sub {
  margin-bottom: 18px;
}
.second-desc-item {
  margin-bottom: 20px;
}
.second-desc-item-p {
  margin-left: 1rem;
  margin-top: auto;
  margin-bottom: auto;
}

.third-card-item {
  width: 265px;
  height: 196px;
  border-radius: 8px;
  margin-top: 40px;
  margin-right: auto;
}
.third-card-title {
  font-weight: 700;
  font-size: 16px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 0px !important;
}

/* Fourth Section */
.fourth-sub {
  margin-bottom: 40px !important;
}
.fourth-carousel-padding {
  padding-left: 10px;
  padding-right: 10px;
}
.holder {
  border: 0.5px solid #c4c4c4 !important;
  border-radius: 60px;
  width: 32px;
  height: 32px;
  cursor: pointer;
}
.holder:hover {
  background-color: green;
}
.arrow-carousel {
  width: 7px;
  height: 12px;
}
.holder:hover > .arrow-carousel {
  filter: invert(100%) sepia(4%) saturate(16%) hue-rotate(112deg)
    brightness(107%) contrast(104%);
}
/* Carousel */
.carousel,
.carousel-innr,
.carousel-inner > .carousel-item {
  overflow: hidden;
}
.carousel-inner > .carousel-item.active,
.carousel-inner > .carousel-item-next,
.carousel-item-prev {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.carousel-item.active {
  align-content: center;
}
.carousel-inner:before {
  position: relative;
  top: 0;
  bottom: 0;
  right: 100%;
  left: 0;
  content: "";
  display: block;
  background-color: #fff;
}
.carousel-inner:after {
  position: relative;
  top: 0;
  bottom: 0;
  right: 0;
  left: 100%;
  content: "";
  display: block;
  background-color: #fff;
}

.card-custom {
  width: 620px;
  height: 270px;
  background-color: #f1f3ff;
}
.testi-content {
  text-align: left !important;
}

.fourth-carousel-button {
  border: none;
  background-color: #fff;
}


.fifth-card-content {
  background-color: #0d28a6;
  color: white;
  height: 326px;
  border-radius: 13px !important;
}
.fifth-card-title {
  margin-top: 48px;
  font-weight: 700;
}
.fifth-card-text {
  margin-top: 16px;
  font-weight: 300;
  margin-bottom: 0px;
}
.fifth-btn {
  margin-top: 52px;
}


.sixth-faq-title {
  margin-right: 132px;
}
.accordion-button {
  border: 1px solid #d4d4d4;
  border-radius: 4px !important;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #fff;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 34px;
}
.incativeSideBG {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 34px;
}
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  height: 0px;
  margin-top: -15px !important;
}
